$fundo: #FFF;

$cor1: #FFF;
$cor2: #888;
$cor3: #EBAF4F;

@import 'bourbon/bourbon';
@import 'reset';
@import 'padrao';
@import 'galeria';
@import 'fancybox';

body {
	background: $fundo;
	font-size: 16px;
	line-height: 1.6;
	@extend %fonte-normal;
}

@import 'lay-topo';

@import 'responsivo';


