$fundo: #FFF;

@import 'bourbon/bourbon';
@import 'reset';
@import 'padrao';


body {
	background: $fundo;
	font-size: 16px;
	line-height: 1.6;
	@extend %fonte-normal;
}



@import 'galeria';
@import 'fancybox';